
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
httplib2==0.18.1
idna==2.10
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
Js2Py==0.71
python-git==2018.2.1
python-jwt==2.0.1
requests==2.24.0
requests-toolbelt==0.9.1
SpeechRecognition==3.8.1
SQLAlchemy==1.4.20
uritemplate==3.0.1
urllib3==1.25.11
virtualenv==20.4.0

